body {
  font-family: 'ヒラギノ角ゴ ProN';
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top {
  max-width: 410px;
  width: 100%;
  height: 200px;
  background-image: url("../img/header.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-contents {
  width: 192px;
  height: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  max-width: 410px;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.logo {
  top: 0;
  left: 0;
  position: absolute;
}

.menu {
  max-width: 410px;
  width: 100%;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 18px;
  visibility: hidden;

}

.menu-button {
  width: 167px;
  height: 56px;
  font-size: 18px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu > li {
  margin-top: 24px;
  margin-right: 48px;
}

.menu > li:last-child {
  margin-right: 46px;
  margin-top: 0;
}


.title-text {
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 24px;
}

.button {
  width: 180px;
  height: 24px;
  color: #fff;
  font-size: 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-blue {
  background-color: #1E88F5;
  box-shadow: 0  2px  4px #1E88F5;
  
}

.button-yellow {
  background-color: #FFCC01;
  box-shadow: 0  2px  4px #FFCC01;

}

/* main */
.main {
  color: #0D253E;
  max-width: 410px;
  width: 100%;
  text-align: center;
  margin: 40px 0;
}

.main-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-text {
  font-size: 14px;
  opacity: .4;
  margin: 0;
}

/* main2 */
.main2 {
  max-width: 410px;
  width: 100%;
  height: 600px;
  background-image: url("../img/Bitmap.png");
  background-size: cover;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
  
}

.main2-box {
  width: 240px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 0 20px 0;
}

.main2-text {
  margin: 0;
  color: #fff;
  font-size: 20px;
  line-height: 100%;
  margin-bottom: 20px;
  text-align: center;
}

.main2-list {
  width: 360px;
  height: 404px;
}

.titletext {
  width: 360px;
  height: 108px;
  background-color: #fff;
  color: #0D253E;
  border: 1px #eee solid; 
  border-radius: 4px;
  box-sizing: border-box;
  padding: 16px 12px 0 12px;
  margin-bottom: 40px;
}

.title {
  font-size: 16px;
  margin: 0;
}

.text {
  font-size: 12px;
  opacity: .4;
}


/* プラン説明 */
.plans {
  width: 100%;
  max-width: 410px;
  margin-top: 48px;
  display: flex;
  box-sizing: border-box;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
}

.plan {
  margin-bottom: 31px;
}

.basic {
  background-color: #1e88f5;
  color: #fff;
  width: 360px;
  height: 80px;
  border-radius: 4px 4px 0 0;
  text-align: center;
  margin: 0;
}

.plemium {
  background-color: #FFCC01;
  color: #fff;
  width: 360px;
  height: 80px;
  border-radius: 4px 4px 0 0;
  text-align: center;
}

.plan-name {
  margin: 0;
  padding-top: 16px;
  font-size: 14px;
}

.price {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.checklist {
  color: #0D253E;
  width: 360px;
  height: 292px;
  border: 1px #eee solid; 
  border-radius: 0 0 4px 4px;
  box-sizing: border-box;
}

.checklist > ul {
  padding: 0;
  list-style-type: none;
  margin: 48px 0 40px 71px;
}

.checklist > .button {
  margin: auto;
}

.list {
  display: flex;
  align-items: center;
  height: 16px;
  font-size: 16px;
  margin-bottom: 24px;
}

.list img {
  margin-right: 12px;
}

/* アイコン */
.icons {
  width: 100%;
  max-width: 410px;
  height: 998px;
  margin-top: 40px;
  margin-bottom: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  box-sizing: border-box;
  color: #0D253E;
}

.icon {
  width: 264px;
  height: 306px;
  text-align: center;
  margin-bottom: 40px;
}

.icon2 > img {
  margin: 4px 0;
}

.icon .title {
  font-size: 28px;
  margin: 0;
}

.icon .text {
  font-size: 22px;
  opacity: .4;
}


/* フッター */
.footer {
  max-width: 410px;
  width: 100%;
  height: 135px;
  margin-bottom: 214px;
}

hr {
  border: 1px border #d8d8d8;
}

.footer img {
  margin: 16px 0 0 12px;
}

.footer-menu {
  width: 387px;
  height: 18px;
  opacity: .25;
  margin: 30px 0 32px 12px;
  display: flex;
  justify-content: center;
}

.menu1 {
  width: 75px;
  margin-right: 81px;
}

.menu2 {
  width: 75px;
  margin-right: 81px;
}

.menu3 {
  width: 75px;
}

